(
    balanced: (
        enabled: false,
        cpu: (
            fan: CPU,
            pwm: (20, 43, 66, 81, 117, 193, 193, 193),
            temp: (53, 58, 62, 65, 68, 73, 73, 73),
        ),
        gpu: (
            fan: GPU,
            pwm: (253, 253, 255, 255, 255, 255, 255, 255),
            temp: (35, 58, 62, 65, 68, 73, 73, 74),
        ),
    ),
    performance: (
        enabled: false,
        cpu: (
            fan: CPU,
            pwm: (81, 86, 117, 132, 170, 239, 239, 239),
            temp: (48, 56, 60, 63, 67, 72, 72, 72),
        ),
        gpu: (
            fan: GPU,
            pwm: (255, 255, 255, 255, 255, 255, 255, 255),
            temp: (36, 56, 60, 63, 67, 72, 72, 73),
        ),
    ),
    quiet: (
        enabled: true,
        cpu: (
            fan: CPU,
            pwm: (20, 43, 58, 81, 109, 124, 123, 125),
            temp: (55, 58, 62, 65, 68, 73, 73, 74),
        ),
        gpu: (
            fan: GPU,
            pwm: (34, 135, 198, 255, 255, 255, 255, 255),
            temp: (41, 57, 63, 65, 68, 73, 73, 74),
        ),
    ),
)